/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --color-gray: rgba(17 5 22/.40);
  --color-midnight: #13071A;
  --color-secondary-text: #A1A1AA;
  --color-lightGrey: #F5F7FA;
  --color-accentGrey: #EEEEEE;
  --color-primary: #6610F2;
  --color-lowPrimary: #f8f3ff;
  --color-danger: #FA5053;
  --font-serif: 'Gilroy', sans-serif;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 990px;
  --breakpoint-mediumDesktop: 1200px;
  --breakpoint-largeDesktop: 1400px;

  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-128: 128px;
  --spacing-256: 256px;

  --shadow-large: 0px 8px 16px 0px #0000006b;
  --shadow-small: 0px 2px 8px rgba(0, 0, 0, .06);
}

@layer utilities {
  .text-h1 {
    font: 700 1.75rem/2.125rem 'Gilroy', sans-serif; /* 28px / 34px */
  }

  .text-h2 {
    font: 700 1.625rem/2rem 'Gilroy', sans-serif; /* 26px / 32px */
  }

  .text-h3 {
    font: 600 1.375rem/2rem 'Gilroy', sans-serif; /* 22px / 32px */
  }

  .text-h4 {
    font: 700 1rem/1.125rem 'Gilroy', sans-serif; /* 16px / 18px */
  }

  .text-extra-small {
    font: 500 0.75rem/0.8125rem 'Gilroy', sans-serif; /* 12px / 13px */
  }

  .text-small {
    font: 700 0.813rem/1.25rem 'Gilroy', sans-serif; /* 13px / 20px */
  }

  .text-medium {
    font: 500 0.9375rem/1.375rem 'Gilroy', sans-serif; /* 15px / 22px */
  }

  .text-regular {
    font: 500 0.9rem/1.375rem 'Gilroy', sans-serif;
  }

  .text-regular-semi {
    font: 600 0.9rem/1.375rem 'Gilroy', sans-serif;
  }

  .text-medium-semi {
    font: 600 1rem/1.375rem 'Gilroy', sans-serif;
  }

  .text-large {
    font: 500 1.25rem/1.625rem 'Gilroy', sans-serif; /* 20px / 26px */
  }

  .text-large-semi {
    font: 600 1.25rem/1.625rem 'Gilroy', sans-serif; /* 20px / 26px */
  }

  .text-link {
    font: 600 0.875rem/0.9375rem 'Gilroy', sans-serif; /* 15px / 15px */
  }

  .subText-link {
    font: 600 0.875rem/0.9375rem 'Gilroy', sans-serif; /* 15px / 15px */
  }

  .container-narrow{
    max-width: 900px;
    margin: auto;
  }
  .container-large{
    max-width: 1900px;
    margin: auto;
    padding: 8px;
    padding-top: 44px;
    @media (min-width: 768px) {
      padding: 0px 12px
    }
  }

  .scrollbar{
    overflow-y: auto;
    scrollbar-width: thick;
  }
  .scrollbar::-webkit-scrollbar{
    width: 12px;
  }
  .scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(17 5 22/.40);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .scrollbar::-webkit-scrollbar-track-piece {
    background-color: white;
    padding: 8px;
  }

  /* Mobile overrides */
  @media (max-width: 768px) {
    .text-h1 {
      font-size: 22px;
      line-height: 32px;
    }

    .text-h2 {
      font-size: 20px;
      line-height: 32px;
    }

    .text-h3 {
      font-size: 20px;
      line-height: 26px;
    }

    .text-h4 {
      font-size: 15px;
      line-height: 18px;
    }
  }
}
